<div class="banner">
  <div class="banner-one">
    <h4 class="sub-one">Rejoignez la FullSpeed League</h4>
    <a class="sub-two" href="https://discord.gg/aXf89A"><img class="sub-one" src="assets/medias/block/banner/fsl_logo_100px.jpg" alt="logo FullSpeed League" title="Discord de la FullSpeed League"></a>
  </div>
  <div class="banner-two">
    <h4 class="sub-one">Suivez nous sur Twitter</h4>
    <a class="sub-two" href="https://twitter.com/NumelopsAsso"><img class="" src="assets/medias/block/banner/twitter_logo.png" alt="logo Discord" title="Lien d'invitation vers notre twitter"></a>
  </div>
  <div class="banner-three ">
    <h4 class="sub-one">Rejoignez notre Discord</h4>
    <a class="sub-two" href="https://discord.gg/bt7JMq"><img class="" src="assets/medias/block/banner/discord_logo.png" alt="logo Discord" title="Lien d'invitation vers notre discord"></a>
  </div>
</div>
