<div id ="footer">
  <div class)"footer-one">
    <img id="logo" src ="assets/medias/block/header/logo.png" alt"logo numelops">
    <p>Numelops, association de loi 1901 a but non lucratif.</a>
  </div>

  <div class)"footer-two">
    <h4>Ils nous font confiance :</h4>
    <a id="logo1" href="index.php"><img id="logo" src ="assets/medias/block/header/logo.png" alt"logo"></a>
    <a id="logo2" href="index.php"><img id="logo" src ="assets/medias/block/header/logo.png" alt"logo"></a>
    <a id="logo3" href="index.php"><img id="logo" src ="assets/medias/block/header/logo.png" alt"logo"></a>
    <a id="logo4" href="index.php"><img id="logo" src ="assets/medias/block/header/logo.png" alt"logo"></a>
  </div>

  <div class)"footer-three">
    <h4>Contactez-nous :</h4>
  </div>
</div>
