<div id="header">
  <a href="index.php"><img id="logo" src ="assets/medias/block/header/logo.png" alt"logo"></a>
  <nav>
      <a href="index.php">Home</a>
      <a href="news.php">Actualités</a>
      <a href="esport.php">Esport</a>
      <a href="association.php">L'association</a>
  </nav>
</div>
<div class="message">
  <div class="reponse error {% if GET["status"] != "error" %}hidden{% endif %}">Désolé votre message n'a pas été envoyé. Vous pouvez contacter l'administrateur à cette adresse : numelops@gmail.com.</div>
  <div class="reponse success {% if GET["status"] != "success" %}hidden{% endif %}">Votre message a bien été envoyé, l'équipe Numelops vous remercie.</div>
</div>
