<<<<<<< HEAD
<nav>
  <a href="">Home</a> 
  <a href="">News</a> 
  <a href="">Team</a> 
  <a href="Association"></a>
=======
<nav class="nagivation">
    <a href="">Home</a> 
    <a href="">Acutalités</a>
    <a href="">L'association</a>
>>>>>>> dev
</nav>