<div class="header">
  <nav class="topnav-right">
    <a href="index.php">Home</a>
    <a href="news.php">Actualités</a>
    <a href="esport.php">Esport</a>
    <a href="association.php">L'association</a>
  </nav>
</div>
