<div id="header">
  <a href="index.php"><img id="logo" src ="assets/medias/block/header/logo.png" alt"logo"></a> 
  <nav>
      <a href="index.php">Home</a>
      <a href="news.php">Actualités</a>
      <a href="esport.php">Esport</a>
      <a href="association.php">L'association</a>
  </nav>
</div>
