#slider-news, #slider-archived-news {
    text-align: center;
    margin: auto;
    height: auto;
    width: 600px;

    overflow: hidden;
    visibility: hidden;
    position: relative;

    .swipe-wrap {
        text-align: left;

        overflow: hidden;
        position: relative;

        & > div {
            float: left;
            width: 100%;
            position: relative;

            p:first-of-type {
                font-size: 28px;
                font-weight: bold;
            }

            img {
                text-align: center;
                margin: auto;
                max-width: 600px;

                &.image-placement-1, &.image-placement-3 {
                    width: 80%;
                    margin-left: 10%;
                }

                &.image-placement-2 {
                    width: 60%;
                    float: right;
                    margin-left: 10px;
                }

                &.image-placement-4 {
                    width: 60%;
                    float: left;
                    margin-right: 10px;
                }
            }

            > div{
                &.slider-actions{
                    float: right;
                    .icon-news {
                        width: 25px;
                        cursor: pointer;
                        margin-right: 10px;
                    }
                }
            }

        }

    }
}

#slider-archived-news{
    margin-top: 20px;
}

#new-news{
    text-align: center;
    img{
        width: 58.2px;
        height: 98px;
        display: inline-block;
        margin: 20px;
        cursor: pointer;
        &:not(.slider-next):not(.slider-prev){
            width: 100px;
            height: 100px;
        }
        &.slider-next{
            transform: rotate(180deg);
        }
    }
}

#archived-news{
    text-align: center;
    img{
        width: 58.2px;
        height: 98px;
        display: inline-block;
        margin: 20px;
        cursor: pointer;
        &.slider-next{
            transform: rotate(180deg);
        }
    }
}