#slider-news, #slider-archived-news {
    text-align: center;
    margin: auto;
    height: auto;
    width: 600px;

    overflow: hidden;
    visibility: hidden;
    position: relative;

    .swipe-wrap {
        text-align: left;

        overflow: hidden;
        position: relative;

        & > div {
            float: left;
            width: 100%;
            position: relative;

            p:first-of-type {
                font-size: 28px;
                font-weight: bold;
            }

            img {
                text-align: center;
                margin: auto;
                max-width: 600px;

                &.image-placement-1, &.image-placement-3 {
                    width: 80%;
                    margin-left: 10%;
                }

                &.image-placement-2 {
                    width: 60%;
                    float: right;
                    margin-left: 10px;
                }

                &.image-placement-4 {
                    width: 60%;
                    float: left;
                    margin-right: 10px;
                }
            }

            > div{
                &.slider-actions{
                    float: right;
                    .icon-news {
                        width: 25px;
                        cursor: pointer;
                        margin-right: 10px;
                    }
                }
            }

        }

    }
}

#slider-archived-news{
    margin-top: 20px;
}

#new-news{
    text-align: center;
    img{
        width: 58.2px;
        height: 98px;
        display: inline-block;
        margin: 20px;
        cursor: pointer;
        &:not(.slider-next):not(.slider-prev){
            width: 100px;
            height: 100px;
        }
        &.slider-next{
            transform: rotate(180deg);
        }
    }
}

#archived-news{
    text-align: center;
    img{
        width: 58.2px;
        height: 98px;
        display: inline-block;
        margin: 20px;
        cursor: pointer;
        &.slider-next{
            transform: rotate(180deg);
        }
    }
}

// Clearfix
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//modal
#modal{
    border-radius: 10px;
}

.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    display: none;

    &.is-blacked-out {
        display: block;
    }
}

.popup-trigger {
    display: inline-block;
}

.popup-modal {
    //min-height: 365px;
    min-width: 650px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;

    border-radius: 10px;

    &.is--visible {
        opacity: 1;
        pointer-events: auto;
    }

    &__close {
        position: absolute;
        font-size: 1.2rem;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
}

.popup-modal__close{
    width: 25px;
    height: 25px;
}
