/* variables */
$primary: rgb(249, 109, 0);
$secondary: #89229b;
$background: #ebebeb;

/* main code */
body .ta-center {
  text-align: center;
}
body {
  margin: 0;
}
h1{
  text-align: center;
  color: #f96d00;
  font-family: arial;
  font-weight: bold;
  font-size: 42px;
}
#content {
  padding: 15px 0px 15px 0px;
  background:  #37383e;
}

/* header properties */
.topnav-right {
  float: right;
}
.header {
  margin: 15px 10px 0px 0px;
}

/* general properties for all sliders */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap div {
  float: left;
  width: 100%;
  position: relative;
}

/***************** card items *********************/
.card {
  /* general properties */
  width: 100%;
  border-radius: 51px;
  background: linear-gradient(180deg, #0D0E14 55%, #37383e 100%);
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-wrapper {
  display: grid;
  grid-gap: 7%;
  grid-auto-rows: minmax(100px, auto);
  margin: 5% 10% 5% 10%;
  padding: 10px;
  text-align: center;
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
.num-card a {
  color: #f96d00;
  text-decoration: none;
  vertical-align: bottom;
}
.sub-one {
  grid-column: 1;
  grid-row: 1;
}
.sub-two {
  grid-column: 2;
  grid-row: 1;
}
.sub-three {
  grid-column: 3;
  grid-row: 1;
}
.container {
  padding: 0.5rem;
  color: #FFFFFF;
  height: inherit;
}
.container h4 {
  color: #f96d00;
}
.card img {
  width: 100%;
  border-radius: 51px 51px 0px 0px;
}
@media only screen and (max-width: 720px) {
  .card-wrapper {
    display: grid;
    grid-gap: 3%;
    margin: 2% 7% 7% 7%;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .sub-one {
    grid-column: 1;
    grid-row: 1;
  }
  .sub-two {
    grid-column: 1;
    grid-row: 2;
  }
  .sub-three {
    grid-column: 1;
    grid-row: 3;
  }
}

/* general properties for all 3-parts banner div */
.banner {
  margin-top: 10px;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: repeat(1, auto);
  margin: 0% 10% 5% 10%;
  width: auto;
  height: auto;
  background-image: linear-gradient(to right, #0D0E14, #FF8A00);
  border-radius: 30px;
  color: white;
  vertical-align: middle;
  text-align: center;
}
.banner-one {
  grid-column: 1;
  grid-row: 1;
  max-height: 80%;
  padding: 0% 7% 7% 7%;
}
.banner-two {
  grid-column: 2;
  grid-row: 1;
  max-height: 80%;
  padding: 0% 7% 7% 7%;
}
.banner-three {
  grid-column: 3;
  grid-row: 1;
  max-height: 80%;
  padding: 0% 7% 7% 7%;
}
.subbanner {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 600px) {
  .banner {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 100%;
    grid-template-rows: 3;
    margin: 0% 8% 5% 8%;
    width: auto;
    height: auto;
    background-image: linear-gradient(to right, #0D0E14, #FF8A00);
    border-radius: 30px;
    color: white;
    vertical-align: middle;
    text-align: center;
  }
  .banner-one {
    grid-column: 1;
    grid-row: 1;
    max-height: 80%;
  }
  .banner-two {
    grid-column: 1;
    grid-row: 2;
    max-height: 80%;
  }
  .banner-three {
    grid-column: 1;
    grid-row: 3;
    max-height: 80%;
  }
}


/*# sourceMappingURL=general.css.map */
