<!DOCTYPE html>
<html lang="en">
<head>
    {%block head %}
        <link rel="stylesheet" href="home.scss" />
        <title>{% block title %}{% endblock %} - Numetrans</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{ endblock %}</div>

</body>
</html>
