<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <link rel="stylesheet" href="assets/css/block/header.min.css"/>
        <link rel="stylesheet" href="assets/css/general.min.css"/>
        <link rel="stylesheet" href="assets/css/page/{{ page }}.min.css"/>
        <link rel="stylesheet" href="assets/css/block/footer.min.css"/>
        <title>{% block title %}{% endblock %} - Numetrans</title>
        <meta name="description" content="site de l'association Esport Numelops">
    {% endblock %}
</head>

<body>
{% include 'block/header.html.twig' %}
<div id="content">
    {% block content %}{% endblock %}
</div>

{% include 'block/footer.html.twig' %}

<script src="assets/js/general.js"></script>
{% block javascripts %}
    <script src="assets/js/page/{{ page }}.js"></script>
{% endblock %}
</body>
</html>
