<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <link rel="stylesheet" href="assets/css/block/header.css"/>
        <link rel="stylesheet" href="assets/css/general.css"/>
        <link rel="stylesheet" href="assets/css/page/{{ page }}.css"/>
        <link rel="stylesheet" href="assets/css/block/footer.css"/>
        <script type="text/javascript" src="assets/js/others/swipe.js"></script>
        <title>{% block title %}{% endblock %} - Numetrans</title>
    {% endblock %}
</head>

<body>
{% include 'block/header.html.twig' %}
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="administration">
    {% if admin %}
        <img src="assets/medias/page/button.png" alt="deconnexion icon" title="Deconnexion" class="icon-admin popup-trigger" data-action="deconnexion">
    {% else %}
        <img src="assets/medias/page/button.png" alt="connexion icon" title="Administration" class="icon-admin popup-trigger" data-action="connexion">
    {% endif %}

    <div class="body-blackout"></div>

    <div id="modal-admin" class="modal popup-modal shadow">
        <img src="assets/medias/page/close.png" alt="close icon" class="popup-modal__close">
        <div class="data-modal"></div>
    </div>
</div>
{% include 'block/footer.html.twig' %}

<script src="assets/js/general.js"></script>
{% block javascripts %}
    <script src="assets/js/page/{{ page }}.js"></script>
{% endblock %}
</body>
</html>
