<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script type="text/javascript" src="../assets/js/swipe.js"></script>

  <style>
    .swipe{
      overflow: hidden;
      visibility: hidden;
      position: relative;
    }
    .swipe-wrap{
      overflow: hidden;
      position: relative;
    }
    .swipe-wrap > div {
      float: left;
      width: 100%;
      position: relative;
    }
  </style>

  <title>Document</title>
</head>
<body>
  <h2>slide test</h2>
  <div id="slider" class="swipe">
    <div class="swipe-wrap">
      <div><img src="../assets/img/lan1.jpg" alt="" width="600"></div>
      <div><img src="../assets/img/lan2.jpg" alt="" width="600"></div>
      <div><img src="../assets/img/lan3.jpg" alt="" width="600"></div>
    </div>
  </div>
  <script type="text/javascript">
    ob = new Swipe(document.getElementById('slider'), {
      startSlide: 1,
      speed: 300,
      auto: 4000,
      continuous: true
    });
  </script>

</body>
</html>
