{% extends "base.html.twig" %}

{% block content %}

  <div id="slider-asso" class="swipe">
    <div class="swipe-wrap">
      <div><img src="assets/medias/page/association/afterwork2.webp" alt="afterwork au new factory" width="100%"></div>
      <div><img src="assets/medias/page/association/gaming1.webp" alt="nomade arcade lors de la spheriz cup" width="100%"></div>
      <div><img src="assets/medias/page/association/podcave1.webp" alt="visuel du podcast numelops" width="100%"></div>
    </div>
  </div>
  <h1>{{ title }}</h1>

  <div id="association">

    <div class="card-wrapper">
      <div class="card num-card sub-one">
        <img src="assets/medias/page/association/fsl20_cashprice.webp" alt="annonce du cash price de la FSL 2020" >
        <div class="container">
          <h4><strong>150 euros de CashPrice !</strong></h4>
          <p>La FSL 2020 organisée par Numelops en remplacement de la Gamers Assembly aura un Cash de 150€ fournit par l'association.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
      <div class="card num-card sub-two">
        <img src="assets/medias/page/association/numelops_lu.webp" alt="principales équipes de Trackmania" >
        <div class="container">
          <h4><strong>Nos équipes Trackmania</strong></h4>
          <p>L'écurie Numelops se compose désormais de trois équipes professionnelles, toutes composées de champions.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
      <div class="card num-card sub-three">
        <img src="assets/medias/page/association/numelops_lu.webp" alt="skin 2019" >
        <div class="container">
          <h4><strong>Le dernier skin Numelops</strong></h4>
          <p>Le skin officiel des équipe Numelops, réalisé par un artiste indépendant, UnknownGuy.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
    </div>

    <div class="banner asso-legal">
      <div class="banner-one ">
        <h4 class="sub-one" >Bulletin d'adhésion</h4>
        <a class="sub-two" href="assets/medias/page/association/Bulletin_dadhesion.pdf" target="_blanc"><img class="" src="assets/medias/block/banner/num_logo_100px.webp" alt="lien vers le Bulletin d'adhésion" title="lien vers le Bulletin d'adhésion"></a>
      </div>
      <div class="banner-two ">
        <h4 class="sub-one" >Statuts de l'Association</h4>
        <a class="sub-two" href="assets/medias/page/association/Statuts-de-lassociation-Numelops.pdf" target="_blanc"><img class="" src="assets/medias/block/banner/num_logo_100px.webp" alt="lien vers les Statuts de l'Association" title="lien vers les Statuts de l'Association"></a>
      </div>
      <div class="banner-three ">
        <h4 class="sub-one" >Réglement intérieur</h4>
        <a class="sub-two" href="assets/medias/page/association/Règlement_Intérieur_Numelops.pdf" target="_blanc"><img class="" src="assets/medias/block/banner/num_logo_100px.webp" alt="lien vers le réglement intérieur" title="lien vers le réglement intérieur"></a>
      </div>
    </div>

    {% include 'block/banner.html.twig' %}


  </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/others/swipe.js"></script>
    <script type="text/javascript" src="assets/js/others/slider.js"></script>
    {{ parent() }}
{% endblock %}
