{% extends "base.html.twig" %}

{% block head %} <link rel="stylesheet" media="screen" type="text/css" href="assets/css/page/esport.css"/>
    {{  parent() }}
{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <div id="slider-esport" class="swipe">
      <div class="swipe-wrap">
          <img src="assets/medias/page/association/skin1.png" alt="visuel des voitures numelops trackmania" width="100%">
      </div>
    </div>
    <div id="team-esport">
        <div class="esport-wrapper">
            <div class="one">
                <div class="containerEsport">
                    <img class="image" src="assets/medias/page/esport/BANNER_tech.jpg" alt="visuel equipe tech" width="100%">
                    <div class="overlay">
                        <div class="text">B1ts - Harni - Jaka - MathiCs - Racehans - Scary - Soulja - Wag - Zycos - Complex - Wtr - Jordy - Mawi</div>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="containerEsport">
                    <img class="image" src="assets/medias/page/esport/BANNER_fs2.jpg" alt="visuel equipe fullspeed" width="100%">
                    <div class="overlay">
                        <div class="text"> Hunter - SinasAppel - DarkBringer - Craicy - Dan - Harry</div>
                    </div>
                </div>
            </div>
            <div class="three">
                <div class="containerEsport">
                    <img src="assets/medias/page/esport/BANNER_dirt.jpg" alt="visuel equipe dirt" width="100%">
                    <div class="overlay">
                        <div class="text">Cocho - Fire</div>
                    </div>
                </div>
            </div>
            <div class="four" >
                <div class="containerEsport">
                    <img src="assets/medias/page/esport/BANNER_aca.jpg" alt="visuel equipe academy" width="100%">
                    <div class="overlay">
                        <div class="text">Fenrir - Shadox - Aethal - Taxon - Hope - NicklasK - Cubi - Muffeyo</div>
                    </div>
                </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/others/swipe.js"></script>
    <script src="assets/js/others/slider.js"></script>
    {{ parent() }}
{% endblock %}
