{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ title }}</h1>

    <div id="slider-esport" class="swipe">
      <div class="swipe-wrap">
      <div><img src="assets/medias/page/association/skin1.png" alt="visuel des voitures numelops trackmania" width="100%"></div>
      </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/others/swipe.js"></script>
    <script src="assets/js/others/slider.js"></script>
    {{ parent() }}
{% endblock %}
