{% extends "base.html.twig" %}

{% block content %}


    <div id="slider-esport" class="swipe">
        <div class="swipe-wrap">
            <img src="assets/medias/page/association/skin1.webp" alt="visuel des voitures numelops trackmania"
                 width="100%">
        </div>
    </div>
    <h1>{{ title }}</h1>

    <div id="team-esport">
        <div class="esport-wrapper">
            <div class="one">
                <div class="container-esport">
                    <img class="image" src="assets/medias/page/esport/BANNER_tech.webp" alt="visuel equipe tech">
                    <div class="overlay">
                        <div class="text">B1ts - Harni - Jaka - MathiCs - Racehans - Scary - Soulja - Wag - Zycos -
                            Complex
                            - Wtr - Jordy - Mawi
                        </div>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="container-esport">
                    <img class="image" src="assets/medias/page/esport/BANNER_fs2.webp" alt="visuel equipe fullspeed">
                    <div class="overlay">
                        <div class="text"> Hunter - SinasAppel - DarkBringer - Craicy - Dan - Harry</div>
                    </div>
                </div>
            </div>
            <div class="three">
                <div class="container-esport">
                    <img class="image" src="assets/medias/page/esport/BANNER_dirt.webp" alt="visuel equipe dirt">
                    <div class="overlay">
                        <div class="text">Cocho - Fire</div>
                    </div>
                </div>
            </div>
            <div class="four">
                <div class="container-esport">
                    <img class="image" src="assets/medias/page/esport/BANNER_aca.webp" alt="visuel equipe academy">
                    <div class="overlay">
                        <div class="text">Fenrir - Shadox - Aethal - Taxon - Hope - NicklasK - Cubi - Muffeyo</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'block/banner.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/others/swipe.js"></script>
    <script src="assets/js/others/slider.js"></script>
    {{ parent() }}
{% endblock %}
