{% extends "base.html.twig" %}

{% block content %}

    <h1>{{ title }}</h1>

    <div id="slider-home" class="swipe">
      <div class="swipe-wrap">
        <div><img src="assets/medias/page/home/lan1.webp" alt="première lan numelops 2017" width="100%"></div>
        <div><img src="assets/medias/page/home/lan2.webp" alt="première lan numelops 2017" width="100%"></div>
        <div><img src="assets/medias/page/home/lan3.webp" alt="première lan numelops 2017" width="100%"></div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card num-card sub-one">
        <img src="assets/medias/page/association/fsl20_cashprice.webp" alt="annonce du cash price de la FSL 2020" >
        <div class="container">
          <h4><strong>150 euros de CashPrice !</strong></h4>
          <p>La FSL 2020 organisée par Numelops en remplacement de la Gamers Assembly aura un Cash de 150€ fournit par l'association.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
      <div class="card num-card sub-two">
        <img src="assets/medias/page/association/numelops_lu.webp" alt="principales équipes de Trackmania" >
        <div class="container">
          <h4><strong>Nos équipes Trackmania</strong></h4>
          <p>L'écurie Numelops se compose désormais de trois équipes professionnelles, toutes composées de champions.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
      <div class="card num-card sub-three">
        <img src="assets/medias/page/association/numelops_lu.webp" alt="skin 2019" >
        <div class="container">
          <h4><strong>Le dernier skin Numelops</strong></h4>
          <p>Le skin officiel des équipe Numelops, réalisé par un artiste indépendant, UnknownGuy.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
    </div>

    {% include 'block/banner.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/others/swipe.js"></script>
    <script type="text/javascript" src="assets/js/others/slider.js"></script>
    {{ parent() }}
{% endblock %}
