{% extends "base.html.twig" %}

{% block content %}
   
    <h1>{{ title }}</h1>

    <div id="slider-home" class="swipe">
      <div class="swipe-wrap">
        <div><img src="assets/medias/page/home/lan1.jpg" alt="première lan numelops 2017" width="100%">></div>
        <div><img src="assets/medias/page/home/lan2.jpg" alt="première lan numelops 2017" width="100%">></div>
        <div><img src="assets/medias/page/home/lan3.jpg" alt="première lan numelops 2017" width="100%">></div>
      </div>
    </div>

    <div class="home-wrapper">
      <div class="card home-card sub-one">
        <img src="assets/medias/page/association/fsl20_cashprice.png" alt="annonce du cash price de la FSL 2020" >
        <div class="container">
          <h4><strong>150 euros de CashPrice !</strong></h4>
          <p>La FSL 2020 organisée par Numelops en remplacement de la Gamers Assembly aura un Cash de 150€ fournit par l'association.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
      <div class="card home-card sub-two">
        <img src="assets/medias/page/association/numelops_lu.png" alt="principales équipes de Trackmania" >
        <div class="container">
          <h4><strong>Nos équipes Trackmania</strong></h4>
          <p>L'écurie Numelops se compose désormais de trois équipes professionnelles, toutes composées de champions.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
      <div class="card home-card sub-three">
        <img src="assets/medias/page/association/numelops_lu.png" alt="skin 2019" >
        <div class="container">
          <h4><strong>Le dernier skin Numelops</strong></h4>
          <p>Le skin officiel des équipe Numelops, réalisé par un artiste indépendant, UnknownGuy.</p>
          <a href="#">Lire la suite...</a>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="content-one subcontent">
        <img class="sub-one" src="assets/medias/block/content/fsl_logo_100px.jpg" alt="logo FullSpeed League">
        <img class="sub-two" src="assets/medias/block/content/num_logo_100px.png" alt="logo FullSpeed League">
      </div>
      <div class="content-two">
        <img class="sub-two" src="assets/medias/block/content/fsl_match2.jpeg" alt="logo FullSpeed League">
      </div>
      <div class="content-three ">
        <h4 class="sub-one" >Rejoignez notre Discord</h4>
        <a class="sub-two" href="https://discord.gg/bt7JMq"><img class="" src="assets/medias/block/content/discord_logo.png" alt="logo FullSpeed League"></a>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/others/swipe.js"></script>
    <script src="assets/js/others/slider.js"></script>
    {{ parent() }}
{% endblock %}
