{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ title }}</h1>

    <div id="slider-news" class="swipe">
      <div class="swipe-wrap">
        <div><img src="assets/medias/page/association/afterwork1.jpg" alt="afterwork au new factory" width="100%"></div>
        <div><img src="assets/medias/page/association/afterwork4.jpg" alt="afterwork au new factory" width="100%"></div>
        <div><img src="assets/medias/page/association/gaming2.jpg" alt="construction d'une borne d'arcade" width="100%"></div>
      </div>
    </div>

    <div style="width: 800px">
        {{ include("block/news-module.html.twig") }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/others/swipe.js"></script>
    <script src="assets/js/others/slider.js"></script>
    {{ parent() }}
{% endblock %}
