/* Footer */
#footer {
    background: linear-gradient(180deg, #37383e 35%, #FF8A00 80%);
    padding: 10px 5px 10px 5px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    width: auto;
    height: auto;
    color: white;
    vertical-align: middle;
    text-align: center;
}
#footer a {
  color: #f96d00;
  text-decoration: none;
  vertical-align: bottom;
}
.footer-left {
  grid-column: 1;  grid-row: 1;
  border-right-style: solid;
  border-width: 3px;
  border-color: #FFFFFF;
  max-height: 80%;
}
.footer-left img{  margin: 0 2% 0 2%;}
.footer-central{
  grid-column: 2;  grid-row: 1;
}
.footer-right {
  grid-column: 3;  grid-row: 1;
  max-height: 80%;
  border-left: 3px solid #FFFFFF;
}

.zonetxt {
  width: 300px;
  height: 31px;
  margin-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.75);
  border-radius: 9px;
}

.zone-message {
  width: 600px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.75);
  border-radius: 9px;
}

.coche {
  width: 10px;
  height: 11px;
  background: #FFFFFF;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.75);
}

.btnEnvoyer{
  grid-row: 3;
  margin-top: 10px;
  position: static;
  width: 282px;
  height: 36px;
  left: 80%;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.50);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  border:none;
  color: #FFFFFF;
}
.btnEnvoyer:hover {
  box-shadow: 0 0 2px 2px #37383e;
<<<<<<< HEAD
}
=======
}
>>>>>>> develop
