@import "../variables";

#news-module{
    background-color: $background;
    padding: 10px 20px;
    border-radius: 10px;
    #radio-news-module{
        input{
            display: none;
        }
        .image-placement{
            height: 100px;
            width: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin: 0 20px 0 0;
            border: $secondary 2px solid;
            &:first-of-type{
                background-image: url("../../medias/block/news-module/news-module-top.webp");
            }
            &:nth-of-type(2){
                background-image: url("../../medias/block/news-module/news-module-right.webp");
            }
            &:nth-of-type(3){
                background-image: url("../../medias/block/news-module/news-module-bot.webp");
            }
            &:nth-of-type(4){
                margin-right: 0;
                background-image: url("../../medias/block/news-module/news-module-left.webp");
            }
            &.selected{
                border: $primary 2px solid;
            }
        }
    }

    input[type="text"], textarea{
        padding: .375rem .75rem;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    textarea{
        width: calc(100% - 25px);
        height: 200px;
        resize: none;
    }
    button{
        background-image: url("../../medias/block/news-module/button.webp");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-color: transparent;
        border: none;
        width: 88.9px;
        height: 77px;
    }

    #log-news-module{
        color:red;
        text-align: center;
    }

    .b-success{
        border: 1px solid green !important;
    }
    .b-error{
        border: 1px solid red !important;
    }
    .success{
        color: green !important;
    }


    .edit-image{
        position: absolute;
        right: 0;
        margin-top: -18px;
        margin-right: 15px;
        p{
            margin: 0;
            font-size: 13px;
            margin-bottom: 5px;
        }
        img{
            width: 50px;
            height: 50px;
            float: right;
        }

    }
}